<footer class="bg-white relative z-30 dark:bg-gray-900">
    <div class="w-full bg-blue-900 h-full py-8 flex items-center">
        <div class="text max-w-screen-xl md:flex md:justify-between md:space-y-0 mx-auto space-y-4" style="width: 80%;">
            <div>
                <h3 class="text-white font-regular flex items-center text-start text-3xl">
                    Dapatkan Informasi Terbaru dari Sekawan Media
                </h3>
            </div>
                <div class="md:flex space-y-4 md:space-y-0">
                    <input type="text" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-none focus:ring-blue-500 focus:border-blue-500 w-full px-3 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Masukkan Email Anda">
                    <button type="submit" class="w-full md:w-1/2 h-full bg-blue-600 px-6 py-1 text-white text-xs font-semibold hover:bg-blue-700">
                        Subscribe
                    </button>
                </div>
            </div>
        </div>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-12">
        <div class="sm:flex sm:items-end sm:justify-between">
            <div class="flex-none w-1/2 space-y-6">
                <div>
                    <a href="/" class="flex items-center mb-8 sm:mb-0">
                        {{ img('theme::img/logo-sekawan.png').class('h-10 mr-3').alt('Sekawan Media Logo')|raw }}
                    </a>
                </div>
                <div class="text-gray-800 dark:text-white">
                    <p>
                        {{ variable_value('general', 'about') }}
                    </p>
                </div>
                <div>
                    <ul
                        class="md:flex md:flex-wrap uppercase space-x-2 items-center mb-6 text-sm font-regular text-gray-500 space-x-4 sm:mb-0 dark:text-gray-400">
                        {% for link in links('footer_menu').get() %}
                            <a href="{{ link.url }}" target={{ link.target }} class="hover:text-gray-800">{{ link.title }}</a>
                                {% if not loop.last %}
                                    <span class="line">|</span>
                                {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div>
                <ul
                    class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 space-x-2 sm:mb-0 dark:text-gray-400">
                    <li>
                        <span class="mr-4 md:mr-6">
                          IKUTI KAMI
                        </span>
                    </li>
                    <li>
                        <a href="{{ variable_value('social', 'linkedin') }}" class="text-center">
                            <div
                                class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-900 hover:bg-blue-950 text-white">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ variable_value('social', 'facebook') }}" class="text-center">
                            <div
                                class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-900 hover:bg-blue-950 text-white">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ variable_value('social', 'instagram') }}" class="text-center">
                            <div
                                class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-900 hover:bg-blue-950 text-white">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ variable_value('social', 'twitter') }}" class="text-center">
                            <div
                                class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-900 hover:bg-blue-950 text-white">
                                <i class="fa-brands fa-x-twitter"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span
                class="flex justify-between block text-sm text-gray-500 sm:text-center dark:text-gray-400">
                &copy;{{ 'now'|date('Y') }} Sekawan Media Group
            </span>
            <span>
                <ul
                    class="flex flex-wrap items-center mb-2 text-sm space-x-4 font-regular text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="/" class="hover:text-gray-800">
                            Syarat & Ketentuan
                        </a>
                    </li>
                    <li>
                        <a href="/" class="hover:text-gray-800">
                            Disclaimer
                        </a>
                    </li>
                    <li>
                        <a href="/" class="hover:text-gray-800">
                            Kebijakan Privasi
                        </a>
                    </li>
                    <li>
                        <a href="/" class="hover:text-gray-800">
                            Cookie Policy
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</footer>