<div id="animation-carousel" class="relative z-10" data-carousel="static">
    <div class="relative h-80 overflow-y-hidden overflow-x-hidden md:h-[712px]">
        {% for carousel in template.page.carousel %}
            <div class="hidden duration-700 ease-in-out" data-carousel-item="active" style="font-family: 'Ubuntu';">
                {{ carousel.carousel_gambar.make.class('absolute block w-full')|raw }}
                <div class="text-start absolute block mx-auto max-w-screen-xl transform inset-0 mt-20 space-y-4 md:mt-28 md:space-y-4 md:pr-60">
                    <h1 class="w-full text-white text-md md:text-5xl font-bold">
                        {{ carousel.carousel_title }}
                    </h1>
                    <h5 class="w-full text-white text-sm md:text-xl font-normal">
                        {{ carousel.carousel_description }}
                    </h5>
                    {% for slideIndex in range(0, carousel.slides|length) %}
                        <button
                            type="button"
                            class="h-3 rounded-full {{ slideIndex == carousel.currentSlide ? 'w-12 bg-white' : 'w-3 bg-gray-300' }}"
                            aria-current="{{ slideIndex == carousel.currentSlide ? 'true' : 'false' }}"
                            aria-label="Slide {{ slideIndex + 1 }}"
                            data-carousel-slide-to="{{ slideIndex }}"
                        ></button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</div>