<div class="flex justify-center max-w-screen-xl mx-auto">
  <div class="w-full mx-auto top-0 right-0 left-0 md:flex md:justify-center md:-mt-24 z-30">
      {# {% for services in template.page.services %}
        <div class="shadow-xl max-w-sm p-8 bg-blue-900 rounded-none">
            <div class="grid grid-cols-1 gap-12 content-between">
              <div>
                <h5 class="mb-2 text-md font-bold tracking-tight uppercase text-white">{{ services.category }}</h5>
                <p class="mb-3 font-bold text-xl text-white">{{ services.service_title }}</p>
                <p class="hidden md:block mb-3 font-regular  text-white">{{ services.service_description }}</p>
              </div>
              <div>
                  <a href="{{ service.link_url.normalize }}" class="inline-flex uppercase items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent rounded-lg hover:underline focus:ring-4 focus:outline-none focus:ring-blue-300">
                      {{ service.link_text }}
                  </a>
              </div>
            </div>
        </div>
      {% endfor %} #}
    <div class="shadow-xl w-full p-14 bg-teal-400 rounded-none">
        <div class="group grid grid-cols-1 gap-12 content-between">
          <div>
            <h5 class="mb-2 text-md font-bold tracking-tight uppercase text-white">Layanan</h5>
            <p class="mb-3 font-bold text-xl text-white">Akselerasi dan otomatisasi digital</p>
            <p class="hidden group-hover:block mb-3 opacity-0 group-hover:opacity-100 font-regular text-white">Fokus pada kemajuan digital untuk mempercepat aktivitas bisnis.</p>
          </div>
          <div class="flex justify-between items-end">
            <div class="relative group space-y-1">
              <a href="" class="uppercase text-lg font-regular w-1/4 text-white">
                Selengkapnya
              </a>
              <div class="absolute left-0 right-0 h-[3px] bg-white w-1/3 hover:transition group-hover:duration-1000 group-hover:ease-in-out group-hover:w-full"></div>
            </div>
          </div>
        </div>
    </div>  
    <div class="shadow-xl w-full p-14 bg-blue-900 rounded-none">
        <div class="group grid grid-cols-1 gap-14 content-between">
          <div>
            <h5 class="mb-2 text-md font-bold tracking-tight uppercase text-white">Solusi</h5>
            <p class="mb-3 font-bold text-xl text-white">Solusi teruji dan tersegmentasi</p>
            <p class="hidden group-hover:block mb-3 font-regular text-white">Sekawan Media menawarkan solusi yang terbukti sesuai dengan permintaan berbagai industri.</p>
          </div>
          <div class="flex justify-between items-end">
              <div class="relative group space-y-1">
                  <a href="" class="uppercase text-lg font-regular w-1/4 text-white">
                      Selengkapnya
                  </a>
                  <div class="absolute left-0 right-0 h-[3px] bg-white w-1/3 hover:transition group-hover:duration-1000 group-hover:ease-in-out group-hover:w-full"></div>
              </div>
          </div>
        </div>
    </div>
    <div class="shadow-xl w-full p-14 space-y-8 bg-white rounded-none">
        <div class="grid grid-cols-1 gap-14 content-between">
          <div>
          <h5 class="mb-2 text-xl font-bold tracking-tight uppercase text-blue-900">Butuh bantuan? Ahli kami siap membantu Anda.</h5>
          </div>
          <div>
              <a href="#" class="w-full md:w-1/2 bg-transparent border-2 border-gray-800 px-4 lg:px-12 py-4 text-blue-900 text-sm font-medium uppercase transition transition-duration-700 ease-in-out hover:bg-blue-900 hover:text-white">
                  Hubungi Kami
              </a>
          </div>
        </div>
    </div>
  </div>
</div>
